body {
  background-color: #fff;
}

.card {
  width: 30rem;
  text-align: center;
}

.demo {
  font-weight: bold;
  color: red;
  font-size: 2rem;
}

@media (max-width: 550px) {
  .card {
    width: 350px;
    height: 550px;
  }
  .demo {
    font-size: 1.5rem;
  }
}
